body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    background-image: url('images/fundo2.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #0000003b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    width: 500px;
}

h1 {
    text-align: center;
    font-family: "Anton", sans-serif;
    color: rgb(226, 226, 226);
}

h1, input[type="text"],
button {
    font-family: 'anton';
}

input[type="text"] {
    width: 400px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    background-color: rgb(94, 73, 73);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: 'anton';
    color: aliceblue;
}

li:last-child {
    border-bottom: none;
}

button.remove {
    background-color: #dc3545;
}

button.remove:hover {
    background-color: #c82333;
}

.completed {
    text-decoration: line-through;
    color: #88888894;
    cursor: pointer;
}